@media(min-width:601px)and (max-width: 991px){


        section{
          text-align: center;
        }
        .container{
          width: 95%;
        }
        .heading{
          color: #fff;
          font-size: 35px;
          font-weight: 700;
          letter-spacing: 4px;
          line-height: 50px;
        }
        
        /*header*/
      .header{
            padding-top: 30px;
        }
      
        [class*="col-s-"] {
              float: left;
        }
      
          .col-s-1 {width: 8.33%;}
          .col-s-2 {width: 16.66%;}
          .col-s-3 {width: 25%;}
          .col-s-4 {width: 33.33%;}
          .col-s-5 {width: 41.66%;}
          .col-s-6 {width: 50%;}
          .col-s-7 {width: 58.33%;}
          .col-s-8 {width: 66.66%;}
          .col-s-9 {width: 75%;}
          .col-s-10 {width: 83.33%;}
          .col-s-11 {width: 91.66%;}
          .col-s-12 {width: 100%;}
      
        .carousel-item img{
            height: 400px;
        }
        .carousel-item P{
          margin-bottom: 50px;
          color: #111;
          font-size: 18px;
          font-weight: 500;
        }
        .card{
          width: 32%;
          margin-right:5px !important;
          border: 1px solid #f3eeee;
          float: left;
          padding: 3px;
          align-items: center;
          height: 400px;
          box-shadow: 1px  5px #f3f1f1 ;
          margin-bottom: 20px;
      }
        /*services*/
        .services-h h1{
          position: absolute;
          align-items: center;
          font-size: 100px;
          font-weight: 800;
          margin-left: -50px;
          opacity: 0.1; 
      
      } 
      .services-h h2{
        font-size: 20px;
        position: relative;
        margin-top: 80px;
        margin-left: -20px;
      }
      .service-item{
        text-align: left;
      }
      /*about*/
      .about-img{
        background:#111 ;
        margin: 0 10px;
      }
      .about-img img{
        height: 250px;
        padding: 25px;
      }
      .about-item{
        padding: 20px;
        text-align: left;
      }
      
      .contact{
        background: #10cab7;
        padding: 100px 20px;
       
      }
       
      
       

}