*{
    margin: 0;
    padding: 0;
    outline:none;
    font-family: 'Work Sans', sans-serif;
}
.container{
    width: 100%;
}

.btn{
  background: #10cab7; 
  border:none; 
  color: black;
  font-size: 17px;
  margin-left: 30px;
  padding: 10px 30px;
}
.btn:hover{
    background:#111;
    transition: 0.4s;
}
/*header*/
.header img{
    height: 35px;
}
.header-menu li a{
    text-decoration: none;
    display: inline-block;
    padding:10px 20px ;
    font-size: 20px;
    color:#2c4755;
    font-weight: 500;
}
.header-search {
  width: 50px;
  font-size: 20px;
  text-align: center;
  margin-right: 10px;
  border-right: 1px solid #302f2f;
}

.header-call-icon{
    font-size: 25px;
    margin-right: 20px;
    margin-top:10px;
    color:#10cab7;
    float: left !important;
}
.header-call{
  width: 200px;
}
.call-info span{
    font-size: 15px;
    margin-top: 10px;
}
.call-info a{
    font-size: 15px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    width:180px;
}
/* slider section*/
.carousel-item img{
    height: 600px;
}
.carousel-item h5{
    font-size: 45px;
    margin-bottom: 30px;
    color:#10cab7;
    font-weight: 600;
}
.carousel-item P{
    margin-bottom: 200px;
    color: #111;
    font-size: 20px;
    font-weight: 500;
}
/*our work*/
.our-work .container{
    
    margin-bottom: 300px;
}
.card{
    width: 32%;
    margin-right:10px !important;
    border: 1px solid #f3eeee;
    float: left;
    padding: 15px;
    align-items: center;
    height: 300px;
    box-shadow: 1px  5px #f3f1f1 ;
}
 .card img{
    width: 100px;
 }
 .card-title{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
 }
 .card-text{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
/*services*/
.services-h h1{
    position: absolute;
    align-items: center;
    font-size: 120px;
    font-weight: 800;
    margin-left: -280px;
    opacity: 0.1; 

    
} 

.services-h h2{
    font-size: 20px;
    position: relative;
    margin-top: 90px;
    margin-left: -25px;
}


.se-icon img{
    float: left;
    font-size: 20px;
}
.service-item h3{
    font-size: 20px;
    font-weight: 600;
    margin-left: 50px ;
}
.service-item p{
    font-size: 16px;
    font-weight: 400;
    margin-left: 50px !important; 
}
.se-img{
    
    background:linear-gradient( to right, #fff,#302f2f 100%) ;
    margin-right: 25px;
}
.se-img img{
    height: 250px;
    padding: 25px;
}
/*Portfolio*/
.portfolio .card{
        width: 100%;
        margin-right:10px !important;
        border: 1px solid #f3eeee;
        float: left;
        padding: 20px;
        align-items: center;
        height: 350px;
        box-shadow: 1px  5px #f3f1f1 ;
}
.portfolio img{
    width: 350px;
    height: 200px;
}
.portfolio .card-title{
    text-align: left;
    font-size: 18px;
    font-weight: 600;
 }
.portfolio .card-text{
    text-align:left;
    font-size: 16px;
    font-weight: 400;
}
/*about*/
.about-img{
    background:linear-gradient( to right,#302f2f,#fff 100%) ;
    margin-right: 100px;
}
.about-img img{
    height: 250px;
    padding: 25px;
}
.about-item{
    float:right ;
}
.about-item .underline{
    border-bottom: 3px solid #10cab7;
    width: 300px;
    margin: 20px 0;
}
.p1{
    font-size: 20px;
    font-weight: 600;
}
/*contact*/
.contact{
    background: #10cab7;
    padding: 130px;
    margin: 50px;
}
.form-control{
   padding: 18px;
   outline: none;
}
.space{
    margin-bottom: 20px;
}
/*footer*/
#footer-p{
    background:#111 !important  ;
    padding: 40px 0;
}
.social-icon a{
    text-decoration: none;
    padding: 15px;
    background-color: #fff;
    margin-right: 25px;
    border-radius: 50%;
    color: #111;
    font-size: 25px;
}
.social-icon a:hover{
    color: #f3eeee;
    background: #111;
}
.socialnav ul{
    display: flex;
    justify-content: center;
}
.socialnav ul li a{
    color: #fff;
    margin: 20px 0;
    text-decoration: none;
    list-style: none;
    font-size: 15px;
    transition: 0.5s;
    padding:0 15px;
    margin-right: 25px;
}
.socialnav a{
    text-decoration: none;
    display: block;
}
.footerbottom{
    color: #fff;
   
}
